[core]
  excludesfile = ~/.gitignore_global
  editor       = nvim 

[init]
  defaultBranch = main

[push]
  default = current

[color]
  ui = auto

[alias]
  st  = status
  ls  = ls-files
  co  = checkout
  cob = checkout -b

[commit]
  gpgsign = true

[pull]
  rebase = true

[user]
  signingkey = ECF97F6C
  name       = jalet
  email      = j@jarsater.com
